/* Custom Bootstrap overrides */

/*@import url(//fonts.googleapis.com/css?family=Muli:300,400,600|Inconsolata);*/
@import url(//fonts.googleapis.com/css?family=Knockout:300,400,600|Inconsolata);

/* body - Necessary entries for Bootstrap NavBarv */
body {
    overflow-y: scroll;
    line-height: 1;
    padding-top: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}


a {
    color: #60605F;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #60605F;
    border-color: #3A3A3A;
}

    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary:hover {
        color: #000000;
        background-color: #AEAEAE;
        border-color: #1E1E1E;
    }

/* No Border around the Brand box */
.noborder {
    border: none;
}

.my-bs-light {
    color: white;
}

.carousel-inner {
    border-radius: 5px;
    overflow: hidden;
    color: white;
    width: 100%;
}

/* End Custom */

/* Logos */
.biglogo {
    height: 260px;
}

.smalllogo {
    padding-right: 8px;
    height: 40px;
}

.smalllogo2 {
    padding-left: 8px;
    height: 40px;
}

.cardimage {
    padding-left: 8px;
    height: 30px;
}

.backimage {
    height: 18px;
}

#Copyright {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#CarouselControl {
    max-width: 720px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}

/* Define Gradient Heading CSS ( used in TOS and Privacy */
#myBox {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #60605F;
    color: black;
    display: block;
    text-decoration: none;
}

.group-btn {
    min-width: 76px;
    height: 35px;
    font-size: 16px;
}

.wagroup-btn {
    min-width: 60px;
    height: 35px;
    font-size: 16px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 4px;
}

    #myBtn:hover {
        background-color: #555;
    }


.goldGradient {
    background: linear-gradient(to right, #60605F 0%, transparent 100%);
    padding-top: 15px;
    padding-bottom: 15px;
}

.gradientheading {
    width: auto;
    background: linear-gradient(90deg, #60605F, transparent 100%);
    color: black;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    max-width: 100%;
    border-radius: 15px;
    font-weight: bold;
}

.p_div {
    width: auto;
    padding: 5px 10px;
    max-width: 100%;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
}

.p_div_bullet:before {
    width: auto;
    content: "-";
    padding: 5px 10px;
    max-width: 100%;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
}

/* Iframe style for Schedule and Fundraising display */
div, iframe {
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    border-style: none;
}

.wrap {
    width: 320px;
    height: 192px;
    padding: 0;
    overflow: hidden;
}

.frame {
    width: 1280px;
    height: 768px;
    border: 0;
    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
